:root {
    --theme-a: #F8B195;
    --theme-b: #F67280;
    --theme-c: #C06C84;
    --theme-d: #6C5B7B;
    --theme-e: #355C7D;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--theme-e);
}

h1, h2, h3, h4, h5, h6, p{
    color: var(--theme-a);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
